.populares {
    display: flex;
    padding-bottom: 15em;
}

.popular {
    padding-left: 13.5em;
}

.popular__linha {
    color: var(--vermelho);
    padding-bottom: 25px;
}

.popular__titulo {
    font-size: 40px;
    padding-bottom: 30px;
}

.popular__texto {
    font-size: 14px;
    font-weight: 400;
    width: 45%;
    padding-bottom: 30px;
    line-height: 1.3em;
}

.popular__ancora {
    text-decoration: none;
    color: var(--roxo-claro);
    text-align: center;
}

.seta {
    padding-left: 10px;
}

.ancora {
    display: flex;
}

.popular__imagem {
    position: absolute;
    top: 99em;
    padding-left: 47.5em;
    max-width: 100%;
}