.valores {
    padding: 10em 0 10em 16.5em;
    display: flex;
}

.valores__lista {
    padding-right: 100px;
    padding-bottom: 11em;
    text-align: center;
}

.valores__titulo {
    color: var(--roxo-claro);
    font-size: 58px;
    padding-bottom: 10px;
}